<footer class="main-footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-5">
        <div class="copy-wrapper pull-left">
          <p class="">&copy; Lykke 2017. All rights reserved</p>
        </div>
        <nav class="main-footer-nav pull-left">
          <a href="javascript:;">Terms of Use</a>
        </nav>
      </div>
      <div class="col-xs-7">
          <nav class="social-nav">
            <a href="javascript:;"><i class="icon icon--fb"></i></a>
            <a href="javascript:;"><i class="icon icon--tw"></i></a>
            <a href="javascript:;"><i class="icon icon--instagram"></i></a>
            <a href="javascript:;"><i class="icon icon--youtube"></i></a>
            <a href="javascript:;"><i class="icon icon--linkedin"></i></a>
            <a href="javascript:;"><i class="icon icon--reddit"></i></a>
            <a href="javascript:;"><i class="icon icon--telegram"></i></a>
            <a href="javascript:;"><i class="icon icon--slack"></i></a>
          </nav>
      </div>
    </div>
  </div>
</footer>

