<div class="container">
  <!--TODO IF NO DATA-->
  <!--<div class="spinner" *ngIf="!assetHistory">-->
    <!--<div class="spinner__inside"></div>-->
  <!--</div>-->
  <!--<div class="table-borders" *ngIf="assetHistory">-->
  <div class="table-borders">
    <div class="row">
      <div class="col-lg-1 col-xs-1"><h3 class="table-heading text-left">Wallet</h3></div>
      <div class="col-lg-3 col-xs-3"></div>
      <div class="col-lg-2 col-xs-2"><h3 class="table-heading text-left">Date</h3></div>
      <div class="col-lg-2 col-xs-2"><h3 class="table-heading text-left">Operation</h3></div>
      <div class="col-lg-2 col-xs-2"><h3 class="table-heading text-left">Type</h3></div>
      <div class="col-lg-1 col-xs-1"><h3 class="table-heading text-right">Amount</h3></div>
      <div class="col-xs-1"></div>
    </div>

    <div class="row cursor-pointer">
      <div class="col-lg-1  col-xs-1 currency-table-data">
            <span class="lkk-icon-wrapper">
              <img src="../../../../assets/img/lkk_icon.png" alt="">
            </span>
      </div>
      <!--TODO From where to get account type-->
      <div class="col-lg-3  col-xs-3 currency-table-data">
        <span class="table-text">
          Wallet
        </span>
      </div>
      <div class="col-lg-2  col-xs-2 currency-table-data text-left">
        <span class="table-text">DATE</span>
      </div>
      <div class="col-lg-2  col-xs-2 currency-table-data text-left">
        <span class="table-text">OPERATION</span>
      </div>
      <div class="col-lg-2  col-xs-2 currency-table-data text-left">
        <span class="table-text">Type</span>
      </div>
      <div class="col-lg-1  col-xs-1 currency-table-data text-right">
        <span class="table-text">XXXXX</span>
      </div>
      <div class="col-lg-1  col-xs-1 currency-table-data text-right">
        <span class="table-text">icon</span>
      </div>
    </div>
  </div>
</div>


