<div class="wallet-navigation">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <ul class="wallet-tabs">
          <li>
            <a routerLinkActive="active" routerLink="trading" class="gray-color">Trading wallet</a>
          </li>
          <li>
            <a routerLinkActive="active" routerLink="private" class="gray-color">Private wallet</a>
          </li>
          <li>
            <a routerLinkActive="active" routerLink="high-frequency" class="gray-color">High Frequency Trading Wallet</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
