.button {
  display: inline-block;
  font-size: 16px;
  background: none;
  border: none;
  outline: none;
  &.button-default {
    font-family: "Proxima Nova Light";
    color: #8c94a0;
    // TODO add information icon for info butotn
    .icon {
      &:before {
        font-size: 25px;
      }
    }
  }
  &.button-blue {
    border-radius: 100px;
    background-color: #0da7fc;
    line-height: 40px;
    padding: 10px 20px;
    color: #ffffff;
    font-size: 16px;
    line-height: 20px;
    font-family: "Proxima Nova";
    position: relative;

    .icon {
      position: static;
      &:before {
        position: absolute;
        left: 14px;
        top: 10px;
        font-size: 20px;
      }
    }

    &.two-icons {
      padding: 10px;
      .icon {
        &:before {
          display: inline-block;
          margin: 0 0.375rem;
          position: static;
        }
      }
    }
  }

  &.currency-pair-select {
    border-radius: 100px;
    background-color: #0da7fc;
    line-height: 40px;
    padding: 10px 20px 10px 50px;
    color: #ffffff;
    font-size: 16px;
    line-height: 20px;
    font-family: "Proxima Nova";
    position: relative;
    .icon {
      position: static;
      &:before {
        position: absolute;
        left: 14px;
        top: 10px;
        font-size: 20px;
      }
    }
  }

}

.exchange-btn {
  display: inline-block;
  width: 100%;
  line-height: 40px;
  border-radius: 4px;
  border: 1px solid #cfd2d7;
  background: transparent;
  font-size: 16px;
  font-family: "Proxima Nova";
  outline: none;
  transition: border 0.2s ease-in-out;

  .icon {
    font-size: 24px;
  }
  &.active {
    border: solid 2px #ffae2c;
  }
}

.button-icon {
  font-family: 'lwicons';
  background: none;
  border: none;
  outline: none;
  &.button-go-back {
    &:before {
      @extend .icon--back;
    }
    font-size: 12px;
  }
}

.btn {
  &.btn-round {
    border-radius: 100px;
    padding: 12px 20px;
    color: #fff;
    width: 60%;
    background: #0da7fc;

    &.full-width {
      width: 100%;
    }

    &:hover,
    &:focus,
    &:active {
      outline: none;
    }
  }
}


.orange-bg {
  background-color: #ffae2c;
}
