<div class="swift-deposite-placeholder">
  <div class="small-container mt-83">
    <div class="row">
      <div class="col-xs-12">
        <h1 class="heading-lg gray-dark text-center">Deposit {{assetName}}</h1>
        <h3 class="heading-md blue-light text-center text-uppercase">Swift</h3>
      </div>
    </div>
    <div class="row mt-20">
      <div class="col-xs-12">
        <p class="text-md blue-dark">To deposit {{assetName}} to your trading wallet please use the following bank account details.</p>
      </div>
    </div>
    <!--TODO UNCOOMMENT WHEN API IS FINISHED-->
    <!--<div class="row no-gutters pt-30">-->
      <!--<div class="col-xs-3">-->
        <!--<span class="text-md blue-light">Templates (2)</span>-->
      <!--</div>-->
      <!--<div class="col-xs-3">-->
        <!--<span class="text-md blue-light">Recent deposits</span>-->
      <!--</div>-->
      <!--<div class="col-xs-3 col-xs-offset-3 text-right">-->
        <!--<span class="text-md blue-light">Add to favorites</span>-->
      <!--</div>-->
    <!--</div>-->
    <div class="row no-gutters">
      <div class="col-xs-12 mt-30">
        <div class="row no-gutters pt-30 pb-30 border-top-gray-light">
          <div class="col-xs-4"><label class="bold form-label">Amount</label></div>
          <div class="col-xs-8">
            <form [formGroup]="depositForm">
              <input type="text" class="form-input text-md blue-dark" formControlName="swiftAmount">
              <app-error-messages [control]="depositForm.controls.swiftAmount"></app-error-messages>
            </form>
          </div>
        </div>
      </div>
      <div class="col-xs-12">
        <ul class="underline-list">
          <app-list-item-copy optionName="Account number" optionValue="LI44 0880 1201 4601 0833 3"></app-list-item-copy>
          <app-list-item-copy optionName="Account name" optionValue="Lykke Corp UK Limited"></app-list-item-copy>
          <app-list-item-copy optionName="Bank address" optionValue="Bank Alpinum ⋅ Austrasse 59 ⋅ Postfach 1528 ⋅ 9490 Vaduz ⋅ Liechtenstein"></app-list-item-copy>
          <app-list-item-copy optionName="Company Address" optionValue="Lykke Corp UK Limited · Paul Street 86-90 · London EC2A 4NE · United Kingdom"></app-list-item-copy>
          <app-list-item-copy optionName="Purpose of Payment" optionValue="Lykke Shares (coins) purchase USD valery.grebenev.lykke.com"></app-list-item-copy>
        </ul>
      </div>
    </div>
    <div class="row mt-20">
      <div class="col-xs-12 text-center">
        <a href="javascript:;" class="text-md blue-medium pr-10">Terms of Use</a>
        <a href="javascript:;" class="text-md blue-medium">Lykke Shares Prospectus</a>
      </div>
      <div class="col-xs-12 text-center pt-30">
        <button class="btn btn-round text-md white" type="button" (click)="onSubmit()">Send to email</button>
      </div>
      <div class="col-xs-12 text-center pt-25"> <span class="bold blue-medium cursor-pointer" (click)="onLocationBack()">Cancel and go back</span></div>
    </div>
  </div>
</div>
