<!--<div class="spinner">-->
<!--<div class="spinner__inside"></div>-->
<!--</div>-->
<div class="component-wrapper">
  <h2>
    Settle
  </h2>
  <h3>
    305 LKK1Y <sub class="sub-custom time-left">345 days left</sub>
  </h3>
  <div class="actions-wrapper mb-30 mt-30">
    <button href="javascript:;" class="button button-default">
      <i class="icon icon--reverse"></i>
      Repeat operation
    </button>
    <button href="javascript:;" class="button button-default">
      <i class="icon icon--save_template"></i>
      Save to template
    </button>
  </div>
  <ul class="underline-list">
    <li>
      <span class="option-name">Wallet</span>
      <span class="option-value">Trading Wallet (CHF)</span>
    </li>
    <li>
      <span class="option-name">Amount</span>
      <span class="option-value">EUR XXXX</span>
    </li>
  </ul>
  <h4 class="underline-list-title mb-20">Trigger Settlement</h4>
  <ul class="underline-list">
    <li>
      <span class="option-name">Base Asset</span>
      <span class="option-value">LKK</span>
    </li>
    <li>
      <span class="option-name">Settlement Date</span>
      <span class="option-value">27 Feb 2018 3:00 AM</span>
    </li>
    <li>
      <span class="option-name">Settlement Amount</span>
      <span class="option-value">305 LKK</span>
    </li>
  </ul>

  <div class="blockchain-status in-progress">
    <img src="/assets/img/bl_explorer_logo.svg" alt="Blockchain status">
    <span class="status-text">Blockchain Settlement<span class="progress-text">In Progress...</span></span>

  </div>
</div>
