<div class="component-wrapper">
  <div class="row no-gutters mb-30">
    <div class="col-xs-12">
      <h2>Spot</h2>
      <h3>All assets</h3>
    </div>
  </div>
  <div class="row no-gutters pt-20 pb-20 border-top-gray-light border-bottom-gray-light">
    <div class="col-xs-4 mt-10"><span class="text-lg bold gray-dark">Watchlist</span></div>
    <div class="col-xs-8">
      <input type="text" class="form-input text-md blue-dark" value="All assets">
    </div>
  </div>
  <div class="row no-gutters pt-30 pb-10 border-bottom-gray-light">
    <div class="col-xs-9">
      <span class="text-lg bold gray-dark">Asset Pair <i class="icon--search icon-font-size-20 pl-5"></i></span>
    </div>
    <div class="col-xs-3 text-right">
      <span class="text-lg bold pr-20 gray-dark">Change</span>
    </div>
  </div>
  <div class="row no-gutters border-bottom-gray-light pt-15 pb-15">
    <div class="col-xs-9">
      <div class="row no-gutters">
        <div class="col-xs-12">
          <span class="text-lg blue-dark">BTC/CHF</span>
        </div>
        <div class="col-xs-12">
          <span class="text-md gray-light pr-5">Ask</span>
          <span class="text-md orange pr-20">1240.14</span>
          <span class="text-md gray-light pr-5">Bid</span>
          <span class="text-md purple">1240.14</span>
        </div>
      </div>
    </div>
    <div class="col-xs-3 mt-15 text-right"><img src="assets/img/mini_chart.png" class="pr-20"></div>
  </div>

  <div class="row no-gutters border-bottom-gray-light pt-15 pb-15">
    <div class="col-xs-9">
      <div class="row no-gutters">
        <div class="col-xs-12">
          <span class="text-lg blue-dark">BTC/CHF</span>
        </div>
        <div class="col-xs-12">
          <span class="text-md gray-light pr-5">Ask</span>
          <span class="text-md orange pr-20">1240.14</span>
          <span class="text-md gray-light pr-5">Bid</span>
          <span class="text-md purple">1240.14</span>
        </div>
      </div>
    </div>
    <div class="col-xs-3 mt-15 text-right"><img src="assets/img/mini_chart.png" class="pr-20"></div>
  </div>

  <div class="row no-gutters border-bottom-gray-light pt-15 pb-15">
    <div class="col-xs-9">
      <div class="row no-gutters">
        <div class="col-xs-12">
          <span class="text-lg blue-dark">BTC/CHF</span>
        </div>
        <div class="col-xs-12">
          <span class="text-md gray-light pr-5">Ask</span>
          <span class="text-md orange pr-20">1240.14</span>
          <span class="text-md gray-light pr-5">Bid</span>
          <span class="text-md purple">1240.14</span>
        </div>
      </div>
    </div>
    <div class="col-xs-3 mt-15 text-right"><img src="assets/img/mini_chart.png" class="pr-20"></div>
  </div>

  <div class="row no-gutters border-bottom-gray-light pt-15 pb-15">
    <div class="col-xs-9">
      <div class="row no-gutters">
        <div class="col-xs-12">
          <span class="text-lg blue-dark">BTC/CHF</span>
        </div>
        <div class="col-xs-12">
          <span class="text-md gray-light pr-5">Ask</span>
          <span class="text-md orange pr-20">1240.14</span>
          <span class="text-md gray-light pr-5">Bid</span>
          <span class="text-md purple">1240.14</span>
        </div>
      </div>
    </div>
    <div class="col-xs-3 mt-15 text-right"><img src="assets/img/mini_chart.png" class="pr-20"></div>
  </div>
  <div class="row no-gutters border-bottom-gray-light pt-15 pb-15">
    <div class="col-xs-9">
      <div class="row no-gutters">
        <div class="col-xs-12">
          <span class="text-lg blue-dark">BTC/CHF</span>
        </div>
        <div class="col-xs-12">
          <span class="text-md gray-light pr-5">Ask</span>
          <span class="text-md orange pr-20">1240.14</span>
          <span class="text-md gray-light pr-5">Bid</span>
          <span class="text-md purple">1240.14</span>
        </div>
      </div>
    </div>
    <div class="col-xs-3 mt-15 text-right"><img src="assets/img/mini_chart.png" class="pr-20"></div>
  </div>

  <div class="row no-gutters border-bottom-gray-light pt-15 pb-15">
    <div class="col-xs-9">
      <div class="row no-gutters">
        <div class="col-xs-12">
          <span class="text-lg blue-dark">BTC/CHF</span>
        </div>
        <div class="col-xs-12">
          <span class="text-md gray-light pr-5">Ask</span>
          <span class="text-md orange pr-20">1240.14</span>
          <span class="text-md gray-light pr-5">Bid</span>
          <span class="text-md purple">1240.14</span>
        </div>
      </div>
    </div>
    <div class="col-xs-3 mt-15 text-right"><img src="assets/img/mini_chart.png" class="pr-20"></div>
  </div>

  <div class="row no-gutters border-bottom-gray-light pt-15 pb-15">
    <div class="col-xs-9">
      <div class="row no-gutters">
        <div class="col-xs-12">
          <span class="text-lg blue-dark">BTC/CHF</span>
        </div>
        <div class="col-xs-12">
          <span class="text-md gray-light pr-5">Ask</span>
          <span class="text-md orange pr-20">1240.14</span>
          <span class="text-md gray-light pr-5">Bid</span>
          <span class="text-md purple">1240.14</span>
        </div>
      </div>
    </div>
    <div class="col-xs-3 mt-15 text-right"><img src="assets/img/mini_chart.png" class="pr-20"></div>
  </div>
</div>
