<!--<div class="spinner">-->
  <!--<div class="spinner__inside"></div>-->
<!--</div>-->
<div class="component-wrapper">
  <h2>
    Trade CHF/EUR
  </h2>
  <h3>
    1,071.38 CHF
  </h3>
  <div class="actions-wrapper mb-30 mt-30">
    <button href="javascript:;" class="button button-default">
      <i class="icon icon--reverse"></i>
      Repeat operation
    </button>
    <button href="javascript:;" class="button button-default">
      <i class="icon icon--save_template"></i>
      Save to template
    </button>
  </div>
  <ul class="underline-list">
    <li>
      <span class="option-name">Wallet</span>
      <span class="option-value">Trading Wallet (CHF)</span>
    </li>
    <li>
      <span class="option-name">Asset name</span>
      <span class="option-value">CHF / EUR</span>
    </li>
    <li>
      <span class="option-name">Execution price</span>
      <span class="option-value">XXXX EUR</span>
    </li>
    <li>
      <span class="option-name">Sell amount</span>
      <span class="option-value">XXXX EUR</span>
    </li>
    <li>
      <span class="option-name">Sell amount</span>
      <span class="option-value">XXXX EUR</span>
    </li>
    <li>
      <span class="option-name">Buy amount </span>
      <span class="option-value">XXXX EUR</span>
    </li>
  </ul>
  <div class="blockchain-status">
    <img src="/assets/img/bl_explorer_logo.svg" alt="Blockchain status">
    <span class="status-text">Blockchain Settlement<span class="progress-text">In Progress...</span></span>

  </div>

</div>
