<div class="component-wrapper lykke-projects-wrapper">
  <div class="header-wrapper">
    <img src="/assets/img/lykke_new.svg" alt="Lykke Corp">
  </div>
  <div class="projects-list-wrapper">
    <ul>
      <li class="clearfix">
        <div class="project-logo">
          <img src="/assets/img/lykke_wallet_logo.svg">
        </div>
        <div class="project-content">
          <a href="/">
            <span class="project-name"><strong>Lykke</strong>Wallet</span>
            <span class="project-description">Trade FX and Digital Assets</span>
          </a>
        </div>
      </li>
      <li class="clearfix">
        <div class="project-logo">
          <img src="/assets/img/streams_logo.svg">
        </div>
        <div class="project-content">
          <a href="https://streams.lykke.com/">
            <span class="project-name"><strong>Lykke</strong>Streams</span>
            <span class="project-description">Competition platform. Is helping the great ideas to meet the bright minds</span>
          </a>
        </div>
      </li>
      <li class="clearfix">
        <div class="project-logo">
          <img src="/assets/img/bl_explorer_logo.svg">
        </div>
        <div class="project-content">
          <a href="https://blockchainexplorer.lykke.com/">
            <span class="project-name"><strong>Blockchain</strong>Explorer</span>
            <span class="project-description">Explore the Blockchain. Search transaction, assets, addresses or blocks</span>
          </a>
        </div>
      </li>
    </ul>
  </div>
  <div class="footer-wrapper">
    <nav class="row social-nav">
      <div class="col-xs-6">
        <a href="javascript:;">
          <i class="icon icon--fb"></i>
          Facebook
        </a>
      </div>
      <div class="col-xs-6">
        <a href="javascript:;">
          <i class="icon icon--tw"></i>
          Twitter
        </a>
      </div>
      <div class="col-xs-6">
        <a href="javascript:;">
          <i class="icon icon--instagram"></i>
          Instagram
        </a>
      </div>
      <div class="col-xs-6">
        <a href="javascript:;">
          <i class="icon icon--youtube"></i>
          Youtube
        </a>
      </div>
      <div class="col-xs-6">
        <a href="javascript:;">
          <i class="icon icon--linkedin"></i>
          Linkedin
        </a>
      </div>
      <div class="col-xs-6">
        <a href="javascript:;">
          <i class="icon icon--reddit"></i>
          Reddig
        </a>
      </div>
      <div class="col-xs-6">
        <a href="javascript:;">
          <i class="icon icon--telegram"></i>
          Telegram
        </a>
      </div>
      <div class="col-xs-6">
        <a href="javascript:;">
          <i class="icon icon--slack"></i>
          Slack
        </a>
      </div>
    </nav>
  </div>
</div>
